! Xresource file

URxvt*depth: 24
URxvt*geometry: 100x25
URxvt.borderColor: #1c1e26
URxvt.internalBorder: 15

! -- scrollbar

URxvt.scrollstyle: plain
URxvt.scrollBar: false
URxvt.scrollTtyOutput: false
URxvt.scrollWidthBuffer: true
URxvt.scrollTtyKeypress: true

URxvt.fading: 30

! -- login shell

URxvt.loginShell: true

! -- extensions
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5

! -- font

URxvt.font: xft:Roboto Mono:pixelsize=13

! black
URxvt.color0: #303030
URxvt.color8: #5d5d5d
! red
URxvt.color1: #e1321a
URxvt.color9: #ff361e
! green
URxvt.color2: #6ab017
URxvt.color10: #7bc91f
! yellow
URxvt.color3: #ffc005
URxvt.color11: #ffd00a
! blue
URxvt.color4: #0071ff
URxvt.color12: #0071ff
! magenta
URxvt.color5: #ec0048
URxvt.color13: #ff1d62
! cyan
URxvt.color6: #2aa7e7
URxvt.color14: #4bb8fd
! white
URxvt.color7: #f2f2f2
URxvt.color15: #fefefe

URxvt.background: #1c1e26
URxvt.foreground: 15